<div
  class="flex flex-row gap-2 border border-black bg-gray-100 shadow-md text-center py-4 px-4 rounded-md hover:bg-gray-600 transition duration-200 ease-in-out"
>
  <div class="flex flex-col flex-1">
    <div class="font-semibold text-xl">Total</div>
    <div class="font-sm">
      {{ totalTodos() }}
    </div>
  </div>
  <div class="flex flex-col flex-1 text-green-600">
    <div class="font-semibold text-xl">Completed</div>
    <div class="">
      {{ completedTodos() }}
    </div>
  </div>
  <div class="flex flex-col flex-1 text-red-500">
    <div class="font-semibold text-xl">Incomplete</div>
    <div class="">
      {{ incompleteTodos() }}
    </div>
  </div>
</div>
